TMP_DIR_ROOT:
    "./"
RUN:
    test1

samples_pe:
    sample1:
        forward: example/reads/Run1/sample1_S312_R1_L001.fastq.gz
        reverse: example/reads/Run1/sample1_S312_R2_L001.fastq.gz
        adaptor: /home/jgsanders/git_sw/git_bin/Trimmomatic-0.36/adapters/TruSeq3-PE-2.fa
        phred:   phred33
    sample2:
        forward: example/reads/Run1/sample2_S521_R1_L001.fastq.gz
        reverse: example/reads/Run1/sample2_S521_R2_L001.fastq.gz
        adaptor: /home/jgsanders/git_sw/git_bin/Trimmomatic-0.36/adapters/TruSeq3-PE-2.fa
        phred:   phred33

samples_se:
    sample1:
        single:   example/reads/Run1/sample1_S312_R1_L001.fastq.gz
        adaptor:  /home/jgsanders/git_sw/git_bin/Trimmomatic-0.36/adapters/TruSeq3-PE-2.fa
        phred:    phred33


software:
    trimmomatic:    java -jar /home/jgsanders/git_sw/git_bin/Trimmomatic-0.36/trimmomatic-0.36.jar
    gzip:           pigz

trimmomatic_params:
    LEADING:20 TRAILING:20 AVGQUAL:30 MINLEN:3 TOPHRED33

